body {
	background-image: url("../img/backgroundx.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/*Header*/
.center {
	width: 1300px;
	margin: auto;
	position: relative;				
}
.top-div {
	height: 500px;
}
.header-text {
	font-family: "Poiret One", cursive;
	font-size: 90px;
	text-align: left;
	position: absolute;
	font-variant: small-caps;
	top: 20px;
	left: 50px;
	margin: 0;
	color: rgba(179,179,179,.5);
	-webkit-transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
		-moz-transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
			transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
}
.header-text:hover {
	color: rgb(255,255,255);
	font-family: "Lobster", cursive;
}
.header-image {
	position: absolute;
	width: 100%;
	clip: rect(0,1300px,500px,0);
	left: 0;
	top: 0;
	display: inline-block;
}
.main-image {
	position: absolute;
	width: 200px;
	left: 1000px;
	top: 400px;
	border: 4px solid rgba(179,179,179, .5);
	-webkit-border-radius: 50%;
		border-radius: 50%;
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
	z-index: 1
}

/*Header Speceffects*/
.trans {
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
}
.trans:hover {
	-webkit-transform: translate(3em,0);
   		-moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}
.trans2 {
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
}
.trans2:hover {
	opacity: 0.1;
}
.main-image:hover {
	-webkit-border-radius: 0%;
		border-radius: 0%;
	border: 4px solid rgb(255,255,255);
	-webkit-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
    		-o-transform: rotate(360deg);
   				-ms-transform: rotate(360deg);
   					transform: rotate(360deg);
}
.speech {
	display: block;
	position: absolute;
	width: 240px;
	left: 860px;
	top: 250px;
	opacity: 0.5;
	z-index: 2;
}
.speech:hover {
	visibility: hidden;
}
.comment {
	position: absolute;
	width: 200px;
	left: 885px;
	top: 290px;
	font-family: "Lobster", cursive;
	font-size: 30px;
	color: rgba(0,0,0,.5);
	padding: 0,0,0,0;
}
.comment-div {
	display: none;
}
.speech-div:hover .comment-div {
	display: block;
}

/*About*/
.about-left {
	margin-top: 40px;
}
.about-right {
	margin-top: 20px;
	text-align: right;
}
.about-center {
	margin-top: 20px;
	text-align: center;
}
.about-left, .about-right, .about-center {
	color: #C0C0C0;
	font-size: 70px;
	font-family: 'Poiret One', cursive;
	text-shadow: 2px 2px rgba(179,179,179,.5);
	-webkit-transition: 1s ease-in;
		-moz-transition: 1s ease-in;
			-o-transition: 1s ease-in;
				transition: 1s ease-in;
}
.about-left:hover, .about-right:hover, .about-center:hover {
	-webkit-transform: scale(0.1);
    	-moz-transform: scale(0.1);
    		-o-transform: scale(0.1);
    			-ms-transform: scale(0.1);
   					 transform: scale(0.1);
}	

/*Profile*/
.parent {
	padding-top: 60px;
	position: relative;
}
.profile {
	background-size: cover;
	background-position: center center;
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 50px;
	padding-bottom: 21px;
	box-shadow: 5px 5px 2px 2px #4A4A4A;
	-webkit-border-radius: 25px;
		border-radius: 25px;
}
.profile-image {
	width: 100%;
}
.narrow .profile-image {
	box-shadow: 5px 5px 2px 2px #4A4A4A;
	-webkit-border-radius: 25px;
		border-radius: 25px;
}
.narrow {
	width: 330px;
	display: inline-block;
	float: left;
}
.wide {
	display: inline-block;
	width: 900px;
	float: right;
	text-align: left;
}
.heading {
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Navigation*/
.separator {
	position: relative;
	text-align: center;
}
.separator1 {
	position: absolute;
	text-align: center;
	margin-top: 500px;
	margin-left: 350px;
}
nav {
	display: inline-block;
	width: 1300px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 10;
}
nav a img {
	width: 80px;
	-webkit-border-radius: 10px;
		border-radius: 10px;
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
}
nav a {
	display: inline-block;
	margin: 0;
	padding: 0;
	opacity: 0.5;	
	-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
			-o-transition: 0.5s;
				transition: 0.5s;
	position: relative;
}
nav a:hover img {
	border: 2px solid #06425C;
}
nav a:hover {
	opacity: 1;
	color: #06425C;
	font-weight: bold;
	text-shadow: 1px 1px rgb(179,179,179);
}
nav span {
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	top: 15px;
	color: #06425C;
}

/*Posts - Common for All posts*/
.post-center {
	width: 1300;
	margin: 0 auto;
}
.post {
	position: relative;
	display: inline-block;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	margin-left: 20px;
	margin-top: 50px;
	margin-right: 20px;
	text-align: center;
}
.bott {
	margin-bottom: 20px;
}
.rght {
	margin-right: 50px;
}
.top-left {
	margin-top: 60px;
	margin-left:50px;
}
.top-left-rght {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 0;
}
.profile-gif {
	width: 100%;
}
.h3 {
	padding-bottom: 20px;
}
.h3-2 {
	padding-top: 20px;
}
h2 {
	display: block;
	width: 1240px;
	text-align: center;
	font-size: 32px;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 30px;
	background: url("../img/ornamx.jpg");
	-webkit-transition: 1s ease-in-out;
    	-moz-transition: 1s ease-in-out;
    		-o-transition: 1s ease-in-out;
    			transition: 1s ease-in-out;
}
.h2:hover {
	opacity: .4;
	text-transform: capitalize;
}
.bckg {
	background: url("../img/canvasx.jpg");
}
.prints {
	display: inline-block;
	width: 200px;
	float: right;
	margin-top: 40px;
}

/*Post Winter*/
.winter1 {
	width: 330px;
	display: inline-block;
	float: right;
	margin-top: 100px;
}
.winter2 {
	width: 450px;
	display: inline-block;
	float: left;
}
.winter3 {
	display: inline-block;
	width: 400px;
	margin-top: 50px;
}

/*Post Christmas*/
.xmas {
	display: inline-block;
	width: 400px;
}
.xmas1 {
	float: left;
	margin-top: 180px;
}
.xmas2 {
	margin-top: 0;
}
.xmas3 {
	float: right;
	margin-top: 180px;
}

/*Post Family*/
.fmly {
	display: inline-block;
	width: 300px;
}
.fmly1 {
	float: left;
	margin-top: 30px;
}
.fmly2 {
	margin-top: 100px;
	margin-right: 15px;
}
.fmly3 {
	float: right;
	margin-top: 30px;
}

/*Post Bad*/
.bad1 {
	display: inline-block;
	float: left;
	width: 420px;
	margin-top: 10px;
}
.bad2 {
	display: inline-block;
	width: 420px;
	margin-top: 10px;
}
.bad3 {
	display: inline-block;
	float: right;
	width: 420px;
	margin-top: 10px;
}

/*Post Dictator*/
.dictator img {
	visibility: hidden;
}
.dictator:hover img {
	visibility: visible;
}
.dictator img {
	width: 600px;
	position: relative;
	margin-left: 350px;
}

/*Post Model*/
.modl1 {
	display: inline-block;
	width: 500px;
	margin-top: 30px;
}
.modl1-1 {
	float: left;
	margin-left: 50px;
}
.modl1-2 {
	float: right;
	margin-right: 50px;
}
.modl2 {
	display: inline-block;
	width: 600px;
	margin-top: 60px;
}
.modl2-1 {
	float: left;
}
.modl2-2 {
	float: right;
}
.modl3 {
	display: inline-block;
	width: 500px;
	margin-top: 60px;
}
.modl3-1 {
	float: left;
	margin-left: 50px;
}
.modl3-2 {
	float: right;
	margin-right: 50px;
}
.dictator {
	position: relative;
	width: 1300px;
	margin-top: 50px;
	z-index: 1000;
}

/*Footer*/
