body {
	background-image: url("../img/backgroundx.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/*Header*/
.center {
	width: 1300px;
	margin: 0 auto;
	position: relative;				
}
.top-div {
	height: 500px;
}
.header-text {
	cursor: pointer;
	font-family: "Poiret One", cursive;
	font-size: 90px;
	text-align: left;
	position: absolute;
	font-variant: small-caps;
	top: 20px;
	left: 50px;
	margin: 0;
	color: rgba(179,179,179,.5);
	-webkit-transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
		-moz-transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
			transition: color .5s ease-in .4s, font-family .5s ease-in .4s;
}
#date {
	position: absolute;
	font-family: "Lobster", cursive;
	font-size: 30px;
	color: rgba(0,0,0,.5);
	margin-left: 800px;
	z-index: 1000;
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 30px;
	margin-top: 20px;
}
.header-text:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	color: rgb(255,255,255);
	font-family: "Lobster", cursive;
}
.header-image {
	position: absolute;
	width: 100%;
	clip: rect(0,1300px,500px,0);
	left: 0;
	top: 0;
	display: inline-block;
}
.main-image {
	cursor: pointer;
	position: absolute;
	width: 200px;
	left: 1000px;
	top: 400px;
	border: 4px solid rgba(179,179,179, .5);
	-webkit-border-radius: 50%;
		border-radius: 50%;
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
	z-index: 1
}

/*Header Speceffects*/
.trans {
	cursor: pointer;
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
}
.trans:hover {
	-webkit-transform: translate(3em,0);
   		-moz-transform: translate(3em,0);	
   			-o-transform: translate(3em,0);
   				-ms-transform: translate(3em,0);
   					transform: translate(3em,0);
}
.trans2 {
	cursor: pointer;
	-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
			-o-transition: .5s ease-in;
				transition: .5s ease-in;
}
.trans2:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	opacity: 0.1;
}
.main-image:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	-webkit-border-radius: 0%;
		border-radius: 0%;
	border: 4px solid rgb(255,255,255);
	-webkit-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
    		-o-transform: rotate(360deg);
   				-ms-transform: rotate(360deg);
   					transform: rotate(360deg);
}
.speech {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 240px;
	left: 860px;
	top: 250px;
	opacity: 0.5;
	z-index: 2;
}
.speech:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	visibility: hidden;
}
.comment {
	position: absolute;
	width: 200px;
	left: 885px;
	top: 290px;
	font-family: "Lobster", cursive;
	font-size: 30px;
	color: rgba(0,0,0,.5);
	padding: 0;
}
.comment-div {
	cursor: pointer;
	display: none;
}
.speech-div:hover .comment-div {
	display: block;
}

/*About*/
.about {
	cursor: pointer;
	color: #C0C0C0;
	font-size: 70px;
	font-family: 'Poiret One', cursive;
	text-shadow: 2px 2px rgba(179,179,179,.5);
	-webkit-transition: 1s ease-in;
		-moz-transition: 1s ease-in;
			-o-transition: 1s ease-in;
				transition: 1s ease-in;
}
.about:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	-webkit-transform: scale(0.1);
    	-moz-transform: scale(0.1);
    		-o-transform: scale(0.1);
    			-ms-transform: scale(0.1);
   					 transform: scale(0.1);
}	
.about-left {
	margin-top: 40px;
}
.about-right {
	margin-top: 20px;
	text-align: right;
}
.about-center {
	margin-top: 20px;
	text-align: center;
}

/*Profile*/
.parent {
	padding-top: 60px;
	position: relative;
}
.profile {
	background-size: cover;
	background-position: center center;
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 50px;
	padding-bottom: 21px;
	box-shadow: 5px 5px 2px 2px #4A4A4A;
	-webkit-border-radius: 25px;
		border-radius: 25px;
}
.profile-image {
	width: 100%;
}
.narrow .profile-image {
	box-shadow: 5px 5px 2px 2px #4A4A4A;
	-webkit-border-radius: 25px;
		border-radius: 25px;
}
.narrow {
	width: 330px;
	display: inline-block;
	float: left;
}
.wide {
	display: inline-block;
	width: 900px;
	float: right;
	text-align: left;
}
.heading {
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Navigation*/
.separator {
	position: relative;
	text-align: center;
}
.separator1 {
	position: absolute;
	text-align: center;
	margin-top: 500px;
	margin-left: 350px;
}
nav {
	display: inline-block;
	width: 1300px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	z-index: 10;
	padding: 0;
}
.nav-img {
	cursor: pointer;
	width: 80px;
	-webkit-border-radius: 10px;
		border-radius: 10px;
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.5;
}
nav a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav-text {
	margin-top: -45px;
	background-image: url("../img/ornamx.jpg");
	width: 80px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 12px;
	margin-right: 12px;
	z-index: 100;
	color: #656565;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	opacity: 0.8;
	text-shadow: 1px 1px rgb(179,179,179);
}
.nav-text,
.nav-img {
	-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
			-o-transition: 0.5s;
				transition: 0.5s;
}
.nav-link:hover .nav-text {
	opacity: 0;	
}
.nav-link:hover .nav-img {
	opacity: 1;	
}
#scroll {
	text-align: center;
	font-family: "Lobster", cursive;
	font-size: 30px;
	color: rgba(0,0,0,.5);
}


/*Posts - Common for All posts*/
.post-center {
	width: 1300px;
	margin: 0 auto;
}
.post {
	position: relative;
	display: inline-block;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	margin-right: 20px;
	text-align: center;
}
.bott {
	margin-bottom: 20px;
}
.rght {
	margin-right: 50px;
}
.top-left {
	margin-top: 60px;
	margin-left:50px;
}
.top-left-rght {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 0;
}
.profile-gif {
	width: 100%;
}
.h3 {
	padding-bottom: 20px;
}
.h3-2 {
	padding-top: 20px;
}
h2 {
	cursor: pointer;
	display: block;
	width: 1250px;
	text-align: center;
	font-size: 45px;
	color: black;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 40px;
	background: url("../img/ornamx.jpg");
	-webkit-transition: 1s ease-in-out;
    	-moz-transition: 1s ease-in-out;
    		-o-transition: 1s ease-in-out;
    			transition: 1s ease-in-out;
}
h2:hover {
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
	opacity: .4;
	text-transform: capitalize;
}
.bckg {
	background: url("../img/canvasx.jpg");
}
.prints {
	display: inline-block;
	width: 200px;
	float: right;
	margin-top: 40px;
}

/*Post Winter*/
.winter1 {
	width: 330px;
	display: inline-block;
	float: right;
	margin-top: 100px;
}
.winter2 {
	width: 450px;
	display: inline-block;
	float: left;
}
.winter3 {
	display: inline-block;
	width: 400px;
	margin-top: 50px;
}

/*Post Christmas*/
.xmas {
	display: inline-block;
	width: 400px;
}
.xmas1 {
	float: left;
	margin-top: 180px;
}
.xmas2 {
	margin-top: 0;
}
.xmas3 {
	float: right;
	margin-top: 180px;
}

/*Post Family*/
.fmly {
	display: inline-block;
	width: 300px;
}
.fmly1 {
	float: left;
	margin-top: 30px;
}
.fmly2 {
	margin-top: 100px;
	margin-right: 15px;
}
.fmly3 {
	float: right;
	margin-top: 30px;
}

/*Post Bad*/
.bad1 {
	display: inline-block;
	float: left;
	width: 420px;
	margin-top: 10px;
}
.bad2 {
	display: inline-block;
	width: 420px;
	margin-top: 10px;
}
.bad3 {
	display: inline-block;
	float: right;
	width: 420px;
	margin-top: 10px;
}

/*Post Dictator*/
/*.dictator img {
	visibility: hidden;
}
.dictator:hover img {
	visibility: visible;
}*/
.dictator img {
	width: 600px;
	position: relative;
}
button {
	box-shadow: 5px 5px 2px 2px #2d2d2d;
	cursor: pointer;
	width:250px;
	height: 120px;
	text-align: center;
  	font-family: "Lobster", cursive;
	font-size: 40px;
	color: rgb(0,0,0);
	border-radius: 20px;
	border: 4px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: none;
	outline: none;
	transition: 1s;
		-webkit-transition: 1s;
			-moz-transition: 1s;
				-o-transition: 1s;
	background: rgba(160,156,160,0.24);
		background: -moz-linear-gradient(top, rgba(160,156,160,0.24) 0%, rgba(112,107,112,0.24) 32%, rgba(89,87,89,0.24) 48%, rgba(71,71,71,0.43) 61%, rgba(33,33,33,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(160,156,160,0.24)), color-stop(32%, rgba(112,107,112,0.24)), color-stop(48%, rgba(89,87,89,0.24)), color-stop(61%, rgba(71,71,71,0.43)), color-stop(100%, rgba(33,33,33,1)));
				background: -webkit-linear-gradient(top, rgba(160,156,160,0.24) 0%, rgba(112,107,112,0.24) 32%, rgba(89,87,89,0.24) 48%, rgba(71,71,71,0.43) 61%, rgba(33,33,33,1) 100%);
					background: -o-linear-gradient(top, rgba(160,156,160,0.24) 0%, rgba(112,107,112,0.24) 32%, rgba(89,87,89,0.24) 48%, rgba(71,71,71,0.43) 61%, rgba(33,33,33,1) 100%);
						background: -ms-linear-gradient(top, rgba(160,156,160,0.24) 0%, rgba(112,107,112,0.24) 32%, rgba(89,87,89,0.24) 48%, rgba(71,71,71,0.43) 61%, rgba(33,33,33,1) 100%);
							background: linear-gradient(to bottom, rgba(160,156,160,0.24) 0%, rgba(112,107,112,0.24) 32%, rgba(89,87,89,0.24) 48%, rgba(71,71,71,0.43) 61%, rgba(33,33,33,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a09ca0', endColorstr='#212121', GradientType=0 );
}
button:hover {
	color: #2d2d2d;
	background: rgba(41,41,41,1);
		background: -moz-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(87,87,87,0.43) 39%, rgba(110,108,110,0.24) 52%, rgba(138,133,138,0.24) 68%, rgba(194,192,194,0.24) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,41,41,1)), color-stop(39%, rgba(87,87,87,0.43)), color-stop(52%, rgba(110,108,110,0.24)), color-stop(68%, rgba(138,133,138,0.24)), color-stop(100%, rgba(194,192,194,0.24)));
				background: -webkit-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(87,87,87,0.43) 39%, rgba(110,108,110,0.24) 52%, rgba(138,133,138,0.24) 68%, rgba(194,192,194,0.24) 100%);
					background: -o-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(87,87,87,0.43) 39%, rgba(110,108,110,0.24) 52%, rgba(138,133,138,0.24) 68%, rgba(194,192,194,0.24) 100%);
						background: -ms-linear-gradient(top, rgba(41,41,41,1) 0%, rgba(87,87,87,0.43) 39%, rgba(110,108,110,0.24) 52%, rgba(138,133,138,0.24) 68%, rgba(194,192,194,0.24) 100%);
							background: linear-gradient(to bottom, rgba(41,41,41,1) 0%, rgba(87,87,87,0.43) 39%, rgba(110,108,110,0.24) 52%, rgba(138,133,138,0.24) 68%, rgba(194,192,194,0.24) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#c2c0c2', GradientType=0 );
}
button:active {
	opacity: 0.1;

}
.closed{
		display: none;
}
.open{
		display: block;
}
.dictator {
	text-align: center;
}
#cens {
	display: none;
}

/*Post Model*/
.modl1 {
	display: inline-block;
	width: 500px;
	margin-top: 30px;
}
.modl1-1 {
	float: left;
	margin-left: 50px;
}
.modl1-2 {
	float: right;
	margin-right: 50px;
}
.modl2 {
	display: inline-block;
	width: 600px;
	margin-top: 60px;
}
.modl2-1 {
	float: left;
}
.modl2-2 {
	float: right;
}
.modl3 {
	display: inline-block;
	width: 500px;
	margin-top: 60px;
}
.modl3-1 {
	float: left;
	margin-left: 50px;
}
.modl3-2 {
	float: right;
	margin-right: 50px;
}
.dictator {
	position: relative;
	width: 1300px;
	margin-top: 50px;
	z-index: 1000;
}

/*Footer*/
/*.closed{
		display: block;
}*/
.angry-dog {
	width: 500px;
	height: 600px;
	position: relative;
	margin-left: -20px;

}
.open{
	display: none;
}
.dog {
	top: 150px;
	width: 400px;
	position: absolute;
	display: none;
	cursor: pointer;
}
.comment3 {
	position: absolute;
	width: 250px;
	top: 75px;
	left: 200px;
	text-align: center;
	font-family: "Lobster", cursive;
	font-size: 30px;
	color: rgba(179,179,179,.5);
	display: none;
}
.angry-dog-angry .angry2 {
	display: block;
}
.angry-dog-neutral .angry1 {
	display: block;
}
.angry-dog-happy .angry3 {
	display: block;
}
.speech1 {
	position: absolute;
	width: 250px;
	left: 200px;
	z-index: 2;
}
aside {
	font-family: "Poiret One", cursive;
	font-size: 20px;
	color: rgb(179,179,179);
	text-align: right;
}
